body {
    background: #ffffff;
    font-family:Georgia, 'Times New Roman', Times, serif, Times, serif;

}
h1 {
    text-align: center;
    color: #ff0000;
}
.about {
background: #ffffff;
}
.projects { 
        display:flex; flex-wrap:wrap; } /* condensed to save space */
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: #ff0000; 
    border-radius: 25%;
}
.project img { 
    width: 350px;
    height: auto
    display: block;
    margin: 10px auto ;
    border-radius; 10px
}